certifi
chardet
click
dash==0.39.0
dash-core-components
dash-html-components
dash-renderer
decorator
django
Flask
Flask-Compress
folium
gunicorn
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
pandas
plotly
pytz
six
traitlets
Werkzeug
